
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block titulo %}
         Title
    {% endblock %}
  </head>

{% block body %}
    <body>
        {% block formulario %}


        <form method="POST">
          {{ form.csrf_token }}

            {{ form.email.label(class="label") }}
            {{ form.email(class="input") }}



            {{ form.senha.label(class="label") }}
            {{ form.senha(class="input") }}


            {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('criarconta') }}" class="link-criarconta">Não tem uma conta? Crie aqui</a>
        </form>
        {% endblock %}
  </body>
{% endblock %}
</html>
